#elem1 {
	width: 200px;
	height: 200px;
	background: #f1f1f1;
	margin-bottom: 20px;
}

#elem2 {
	width: 200px;
	height: 200px;
	background: #f1f1f1;
	padding: 40px; /* задаем отступы */
	border: 15px solid green;  /* задаем границу */
	box-sizing: border-box;  /* убираем расширение */
}